:root {
  /* colors pallete */
  --black-tone: #131314;
  --gray-tone: #E5E5E5;
  --white-tone: #FFFFFF;

  --size-0: 0.8rem;
  --size-1: 1.6rem;
  --size-2: 2.4rem;
  --size-3: 3.2rem;
  --size-4: 4.0rem;
  --size-5: 4.8rem;

  --header-text: "Space Grotesk", sans-serif;
  --content-text: "Space Mono", monospace;
  --accent-text: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--black-tone);
  font-family: var(--content-text);
  color: var(--white-tone);

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#app {
  max-width: 1080px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* header-nav styles */
header {
  border: 1px solid white;
  width: 100%;
  padding: var(--size-1);
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-nav img {
  width: 48px;
  height: auto;
}


/* end header-nav */

/* input GLOBAL */
input {
  font-family: inherit;
  font-size: inherit;

  outline: none;
  border: none;

  border-radius: 16px;
  padding: var(--size-0);
}

/* end input GLOBAL */
